[tool.poetry]
name = "okama-dash"
version = "2.1.0"
description = "Python financial widgets with okama and Dash (plotly)"
authors = ["Sergey Kikevich <sergey@rostsber.ru>"]
license = "MIT"
readme = "README.md"
homepage = "https://okama.io/"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
packages = [{include = "okama_dash"}]

[tool.poetry.dependencies]
python = ">=3.9, <4.0.0"
okama = "*"
dash = "*"
dash-daq = "*"
dash-bootstrap-components = "*"
plotly = "*"
Flask-Caching = "*"
pandas = "^2.0.0"
#scipy = "1.12"  # https://github.com/numpy/numpy/issues/27135
redis = "*"
xlsxwriter = "*"

[tool.poetry.group.dev.dependencies]
pytest = "*"
black = { version = "*", optional = true }
gunicorn = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120