/*.tooltip-inner {*/
/*    max-width: 200px;*/
/*    padding: .25rem .5rem;*/
/*    color: white;*/
/*    text-align: left;*/
/*    background-color: black;*/
/*    border-radius: .25rem;*/
/*}*/

.tooltip-inner {
  text-align: left;
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: black;
}
.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: black;
}
.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    border-bottom-color: black;
}
.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    border-left-color: black;
}